body {
  margin: 15px 50px;
  padding: 0;
  font-family: sans-serif;

}

.listadoDeOvejas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.listaOveja {
  list-style: none;
}

.numeroGrande {
  font-size: 1.4rem;
}

.botonGrande {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.ovejita {
  width: 80px;
  margin: 0;
}